* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    
}

a,
a:hover,
a:visited {
	text-decoration: none;
	}

img {
    border: none;
}
li,
ol,
ul {
    list-style-type: none;
}
img, input{
      border: none;
 }
 input{outline: none};
 a, a:hover,a:visited{
     text-decoration: none;
     cursor: pointer;
     color: #333;
 }
